# Compiled source
*.pyc
.*.swp

# SQLite 
*.sqlite3
*.sqlite

# vim temp files
.*.swp

# backup folder
bak/
result/
tmp/
log/
md5/
env/
bak.env/

*.bak

proj/pred/config/*.txt
proj/pred/config/*.json
proj/allowed*txt

proj/settings.py

