{% extends "pred/base_layout.html" %}

{%block content_right_panel %}

    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}

<h2>FastPSSM</h2>
<p>Please paste your amino acid sequences in <a href='http://blast.ncbi.nlm.nih.gov/blastcgihelp.shtml' target=\'_blank\'>FASTA</a> format (max 100000 chars)<br>Allowed characters: "ABCDEFGHIKLMNPQRSTUVWYZX*", of which "BUZ*" will be converted to 'X'
<br>
(Sequences should be no shorter than 10 amino acids)
</p>

<form name="seq_form" action="/pred/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{form.as_p}}

    Force run (do not use cached results): <input type="checkbox" name="forcerun">

    <br><br>
    <a href="#" onClick="javascript:hideShow('options');return false;" style="text-decoration:none; color:#333333"><b>Advanced options</b><img id="arrow" src='{{STATIC_URL}}images/arrow90.png' border=0>
    </a>

    <br>
    <table cellspacing=0 cellpadding=0 border=0 id="options">
        <tr><td colspan=2><img src='{{STATIC_URL}}images/0.gif' width=1 height=10></td></tr>
        <tr><td colspan=2>Options for PfamScan</td></tr>
        <tr><td colspan=2><img src='{{STATIC_URL}}images/0.gif' width=1 height=5></td></tr>
        <tr><td style="padding-left: 20px;">
                E-value&nbsp;</td><td> <input type="number" name="pfamscan-evalue" value="10" min="0" max="10000">
        </td></tr>
        <tr><td style="padding-left: 20px;">
                Show overlapping hits within clan&nbsp;</td><td> <input type="checkbox" name="pfamscan-clanoverlap" checked>
        </td></tr>


        <tr><td colspan=2><img src='{{STATIC_URL}}images/0.gif' width=1 height=5></td></tr>
        <tr><td colspan=2>Options for Jackhmmer</td></tr>
        <tr><td colspan=2><img src='{{STATIC_URL}}images/0.gif' width=1 height=5></td></tr>
        <tr><td style="padding-left: 20px;">
                E-value&nbsp;</td><td> <input type="number" name="jackhmmer-evalue" value="" min="0" max="10000">
        </td></tr>
        <tr><td style="padding-left: 20px;">
                Bitscore&nbsp;</td><td> <input type="number" name="jackhmmer-bitscore" value="25" min="0" max="10000">
        </td></tr>
        <tr><td style="padding-left: 20px;">
                Iteration&nbsp;</td><td> <input type="number" name="jackhmmer-iteration" value="3" min="0" max="10000">
        </td></tr>

        <tr><td colspan=2><img src='{{STATIC_URL}}images/0.gif' width=1 height=5></td></tr>
        <tr><td colspan=2>Options for PSIBLAST</td></tr>
        <tr><td colspan=2><img src='{{STATIC_URL}}images/0.gif' width=1 height=5></td></tr>
        <tr><td style="padding-left: 20px;">
                E-value&nbsp;</td><td> <input type="number" name="psiblast-evalue" value="0.1" min="0" max="10000">
        </td></tr>
        <tr><td style="padding-left: 20px;">
                Iteration&nbsp;</td><td> <input type="number" name="psiblast-iteration" value="3" min="0" max="100">
        </td></tr>
        <tr><td style="padding-left: 20px;">
                Out format&nbsp;</td><td> <input type="number" name="psiblast-outfmt" value="0" min="0" max="11">
        </td></tr>

        </table>

        <script language="javascript">
document.getElementById('options').style.display = 'none';
        </script>
        <br><br>
        <p> <input type="submit" name=do value="Submit" /> <INPUT type="reset" value="Clear" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Generate example input" onclick="example_fill();"></p>

</form>
    <br><br><br>
    <hr>
   <table cellspacing=0 cellpadding=5 border=0>
     <tr><td><img src="{{STATIC_URL}}/images/0.gif" border=0 height=1 width=400></td>
       <td><img src="{{STATIC_URL}}/images/0.gif" border=0 height=1 width=50></td>
     </tr>
     <tr><td>
         <h3>Reference</h3>
     </td></tr>
     <tr><td>
         <h3>Resource provider</h3>
         <p>FastPSSM is supported by the <a href="https://www.egi.eu/services/cloud-compute/">EGI FedCloud</a> with the VO VO.NBIS.SE for computational resource.</p>
     </td></tr>
 </table>

{% endblock %}
